# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.SWIV-ALPHA.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\steve\Desktop\SWIV-ALPHA\.idea\.idea.SWIV-ALPHA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
